<!--
  Generated template for the EducationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="dark">
    <ion-title>EDUCATION</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div class="head">
    <h1>EDUCATION</h1>
    <blockquote>Each question consist of three options:<br><i>Scroll and choose only one option!</i><br>
      Press next when you Done!
    </blockquote>
    <button class="btn1" ion-button (click)="proceed()">Next</button>
</div>
        <div class="field">
            <fieldset >
                <legend>QUESTION1</legend>
                <h4>Who is the President of South Africa in 2018?</h4>
                <ion-item>
                    <ion-label>Mmusi Maimane</ion-label>
                    <ion-checkbox *ngIf="wrong" (click)="countS()"></ion-checkbox>
                  </ion-item>
                
                  <ion-item>
                    <ion-label>Jacob Zuma</ion-label>
                    <ion-checkbox *ngIf="wrong" (click)="countS()"></ion-checkbox>
                  </ion-item>
                
                  <ion-item>
                    <ion-label>Cyril Ramaphosa</ion-label>
                    <ion-checkbox *ngIf="select" (click)="show()"></ion-checkbox>
                  </ion-item>
                  </fieldset>
                  <fieldset >
                      <legend>QUESTION2</legend>
                      <h4>What year was Nelson Mandela selected as President?</h4>
                      <ion-item>
                          <ion-label>1994</ion-label>
                          <ion-checkbox *ngIf="select" (click)="show()"></ion-checkbox>
                        </ion-item>
                      
                        <ion-item>
                          <ion-label>2000</ion-label>
                          <ion-checkbox *ngIf="wrong" (click)="countS()"></ion-checkbox>
                        </ion-item>
                      
                        <ion-item>
                          <ion-label>1990</ion-label>
                          <ion-checkbox *ngIf="wrong" (click)="countS()"></ion-checkbox>
                        </ion-item>
                        </fieldset>
                        <fieldset >
                            <legend>QUESTION3</legend>
                            <h4>What is the capital city of North West</h4>
                            <ion-item>
                                <ion-label>Rustenburg</ion-label>
                                <ion-checkbox *ngIf="wrong" (click)="countS()"></ion-checkbox>
                              </ion-item>
                            
                              <ion-item>
                                <ion-label>Mahikeng</ion-label>
                                <ion-checkbox *ngIf="select" (click)="show()"></ion-checkbox>
                              </ion-item>
                            
                              <ion-item>
                                <ion-label>Johannesburg</ion-label>
                                <ion-checkbox *ngIf="wrong" (click)="countS()"></ion-checkbox>
                              </ion-item>
                              </fieldset>
                              <fieldset >
                                  <legend>QUESTION4</legend>
                                  <h4>How many corners does a Cylinder has?</h4>
                                  <ion-item>
                                      <ion-label>4</ion-label>
                                      <ion-checkbox *ngIf="wrong" (click)="countS()"></ion-checkbox>
                                    </ion-item>
                                  
                                    <ion-item>
                                      <ion-label>0</ion-label>
                                      <ion-checkbox *ngIf="select" (click)="show()"></ion-checkbox>
                                    </ion-item>
                                  
                                    <ion-item>
                                      <ion-label>2</ion-label>
                                      <ion-checkbox *ngIf="wrong" (click)="countS()"></ion-checkbox>
                                    </ion-item>
                                    </fieldset>
                                    <fieldset >
                                        <legend>QUESTION5</legend>
                                        <h4>What is the smallest province in South Africa?</h4>
                                        <ion-item>
                                            <ion-label>Qwaqwa</ion-label>
                                            <ion-checkbox *ngIf="wrong" (click)="countS()"></ion-checkbox>
                                          </ion-item>
                                        
                                          <ion-item>
                                            <ion-label>Gauteng</ion-label>
                                            <ion-checkbox *ngIf="select" (click)="show()"></ion-checkbox>
                                          </ion-item>
                                        
                                          <ion-item>
                                            <ion-label>Northen Cape</ion-label>
                                            <ion-checkbox *ngIf="wrong" (click)="countS()"></ion-checkbox>
                                          </ion-item>
                                          </fieldset>                         
    
        </div>
      
</ion-content>
